.table-container {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.roster-table {
  width: 100%;
  table-layout: fixed;
}

.roster-table thead th {
  position: sticky;
  top: 0;
  background-color: #b3b3b3;
  z-index: 1;
  border-radius: 5px;
}

.username-container {
  background-color: #e5e5e5;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}
