div {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 90vh;
}

.chat-container,
.schedule-container {
  margin: 10px;
  height: 90%;
}

.schedule-container {
  flex: 2;
  position: relative;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 10px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  padding-top: 5px;
  padding-bottom: 15px;
}

.table-container {
  height: 95%;
  box-sizing: border-box;
}

.chat-container {
  position: relative;
  flex: 1;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 10px;
}

.chat-area {
  height: 80%;
  overflow-y: auto;
  flex-direction: column-reverse;
  display: flex;
}

.chat-form {
  height: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.chat-input {
  width: 90%;
  height: 30%;
}

.chat-input-button {
  width: 90%;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.chat-input-button:hover {
  background-color: #0056b3;
}
