.header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.username,
.logout {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.logout {
  cursor: pointer;
}

.logout:hover {
  transform: scale(1.1);
}
